---
import Header from "../components/Header.astro";
import { Layout } from '@astrojs/starlight';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <title>FSBT</title>
  </head>
  <body class="bg-blue-100">
    <Header />

    <h1 class="text-center text-4xl font-bold text-blue-500 mt-8">
    404 - Your Not Allowed Here
    </h1>
  </body>
</html>
